<?php  /*    Navi-Box    */ ?>
	<?php include("views/modules/navi.phtml"); ?> 
<?php  /*    Ende-Navi-Box    */ ?>
<div id="kalender" class="front bl1_bt0">
	<?php
	
	$count = count($data);
	$i = 1;
	
	if( $count > 0 ) {
	?>
		<ul id="headline" class="clearfix">
			<li class="grid_4 fll">
				<div class="border top p4 box_0_1">&nbsp;</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Eintopf</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 1</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 2</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 3</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 4</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 5</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Menü 6</div>
			</li>
			<li class="grid_4 fll">
				<div class="border top center p4 box_0_1">Nachspeiße</div>
			</li>		
		</ul>	
	
	<?php 
		foreach( $data as $key => $var ) { ?>
		<ul class='data clearfix'>
			<li class="grid_4 fll">
				<div class="border box_3 p4"><?php echo func::weekDay($key). '<br />' . date('d.m.Y',$key); ?></div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m1'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m1'?>">
					<?php echo $var['m1']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m2'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m2'?>">
					<?php echo $var['m2']['name']; ?>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m3'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m3'?>">
					<?php echo $var['m3']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m4'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m4'?>">
					<?php echo $var['m4']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m5'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m5'?>">
					<?php echo $var['m5']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m6'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m6'?>">
					<?php echo $var['m6']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m7'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m7'?>">
					<?php echo $var['m7']['name']; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_3 p4<?php echo ( $bestellt[$key]['m8'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m8'?>">
					<?php echo $var['m8']['name']; ?>
				</div>
			</li>
		</ul>
		
		<ul class="data clearfix">
			<li class="grid_4 fll">
				<div class="border p4">Kalorien</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m1'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m1'?>">
					<?php echo ($var['m1']['kcal'] != '0.00') ? '<div>'.$var['m1']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m2'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m2'?>">
					<?php echo ($var['m2']['kcal'] != '0.00') ? '<div>'.$var['m2']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m3'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m3'?>">
					<?php echo ($var['m3']['kcal'] != '0.00') ? '<div>'.$var['m3']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m4'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m4'?>">
					<?php echo ($var['m4']['kcal'] != '0.00') ? '<div>'.$var['m4']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m5'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m5'?>">
					<?php echo ($var['m5']['kcal'] != '0.00') ? '<div>'.$var['m5']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m6'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m6'?>">
					<?php echo ($var['m6']['kcal'] != '0.00') ? '<div>'.$var['m6']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m7'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m7'?>">
					<?php echo ($var['m7']['kcal'] != '0.00') ? '<div>'.$var['m7']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center bold p4<?php echo ( $bestellt[$key]['m8'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m8'?>">
					<?php echo ($var['m8']['kcal'] != '0.00') ? '<div>'.$var['m8']['kcal'].' kcal</div>' : '/'; ?>
				</div>
			</li>
		</ul>
		<ul class="data clearfix">
			<li class="grid_4 fll">
				<div class="border p4">Preis</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m1'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m1'?>">
					<?php echo $var['m1']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m2'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m2'?>">
					<?php echo $var['m2']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m3'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m3'?>">
					<?php echo $var['m3']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m4'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m4'?>">
					<?php echo $var['m4']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m5'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m5'?>">
					<?php echo $var['m5']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m6'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m6'?>">
					<?php echo $var['m6']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m7'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m7'?>">
					<?php echo $var['m7']['price'].' &euro;'; ?>
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border center price p4<?php echo ( $bestellt[$key]['m8'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m8'?>">
					<?php echo $var['m8']['price'].' &euro;'; ?>
				</div>
			</li>
		</ul>	
		<?php if( func::logged() ) { ?>
		<ul class='data check clearfix'>
			<li class="grid_4 fll">
				<div class="border box_0 p4">Bestellen</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m1'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m1'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m1']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m1'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m1']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m1'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m2'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m2'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m2']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m2'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m2']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m2'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m3'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m3'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m3']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m3'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m3']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m3'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m4'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m4'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m4']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m4'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m4']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m4'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m5'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m5'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m5']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m5'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m5']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m5'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m6'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m6'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m6']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m6'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m6']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m6'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m7'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m7'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m7']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m7'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m7']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m7'?>" />
				</div>
			</li>
			<li class="grid_4 fll">
				<div class="border box_0 p4<?php echo ( $bestellt[$key]['m8'] == 1 ) ? ' ordered' : '';?> <?php echo $key.'_m8'?>">
					<input class="m0 select" type="checkbox" value="<?php echo $var['m8']['id']?>" name="<?php echo $key?>" <?php echo ( $bestellt[$key]['m8'] == 1 ) ? 'checked="checked"' : ''; echo ($status[$key] || $var['m8']['id'] == '') ? 'disabled="disabeld"' : ''; ?> alt="<?php echo $key.'_m8'?>" />
				</div>
			</li>		
		</ul>
		<?php 
			}
			if( $i < $count ) {
				echo '<div class="line"></div>';
			}
			$i++;
		}
	} else {
	?>	
	<ul>
		<li class="border center empty">keine Einträge vorhanden</li>
	</ul>
	<?php
	}
	?>
</div>
<div class="center small p4">
	(1)mit Farbstoffen (2)mit Konservierungsstoffen (3)mit Geschmacksverstärker (4)mit Phosphat (5)mit Süßungsmittel (6)mit Antioxidationsmittel (7)geschwefelt (8)geschwärzt (9)gewachst
</div>