<div class="grid_15 middle">
	<h2 class="p4 middle">Bestellungen Heute</h2>
</div>
<div id="kalender" class="grid_15 middle">
	<ul class="data clearfix grid_15">
		<li class="grid_4 fll top">
			<div class="border bl1_bt0 p4">Menü</div>
		</li>
		<li class="grid_12 fll top">
			<div class="border p4">Essen</div>
		</li>
	</ul>
	<?php 
	if( $data ) { 
		foreach( $data as $var ) { 
			if( $var['typ'] == 1 ) {
				$typ = 'Eintopf';
			} elseif( $var['typ'] >= 2 && $var['typ'] <= 7 ) {
				$typ = 'Menü '. ($var['typ']-1);
			} else {
				$typ = 'Nachspeise';
			}
		?>
			<ul class="data clearfix">
				<li class="grid_4 fll">
					<div class="border p4 bl1_bt0 box_2"><?php echo $typ?></div>
				</li>
				<li class="grid_12 fll">
					<div class="border p4 box_2">
						<?php echo $var['name'];?><br />
						<span class="userOrders">
							<?php echo implode(', ',$users[$var['id']])?>
						</span>
					</div>
				</li>
			</ul>
		<?php 
		} 
	} else {
	?>	
		<ul class="grid_15 middle">
			<li class="p4 border center bl1_bt0">keine Bestellungen vorhanden</li>
		</ul>
	<?php
	}
	?>
</div>