<script type="text/javascript" src="<?php echo $script_path; ?>themes/js/jquery/jquery_1.5.2.js"></script>
<script type="text/javascript" src="<?php echo $script_path; ?>themes/js/jquery/base.js"></script>