<title><?php echo $seitentitel?> | Essenstool</title>

<base id="basepath" href="<?php echo  $script_path?>" />

<meta charset="UTF-8" />
<meta name="description" content="" />
<meta name="author" content="Danny Curth - www.danny-curth.de" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
	
<?php /* Stylesheet */ ?>
<link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/style.css'; ?>" />
<link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/template.css'; ?>" />
<link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/modules.css'; ?>" />