<ul id="menu" class="clearfix">
	<li class="fll">
		<a href="<?php echo func::writeURL("modul=kalender")?>" title="Kalender">Kalender</a>
	</li>
	<li class="fll">
		<a href="<?php echo func::writeURL("modul=kalender,aktion=benutzer")?>" title="Bestellungen heute">Bestellungen heute</a>
	</li>
	
	<li class="fll">
		<a href="<?php echo func::writeURL("modul=konto")?>" title="Meine Daten">Meine Daten</a>
	</li>
	<li class="fll">
		<a href="<?php echo $logout?>" title="Ausloggen">Ausloggen</a>
	</li>
	
	
	<li class="flr relative">
		<a href="#<?php echo $kw?>" id="warenkorbLink" title="Warenkorb KW: <?php echo $currentweek?>">Warenkorb (<?php echo $anzOrders?>)</a>
		<div id="warenkorb" class="hidden absolute"></div>
	</li>
	<?php
	if( $userdata['rights'] == 1 ) {
		echo '<li class="flr"><a href="'.func::writeAdminURL('').'" title="Administration">Administration</a></li>';
	}
	?>
</ul>