<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<form action="<?php echo func::writeURL('modul=konto,aktion=update')?>" method="post" class="p4 border bl1_bt0" id="system">
		
		<fieldset class="clearfix space">
			<label>E-Mail-Adresse:</label>
			<input type="text" readonly="readonly" value="<?php echo $user["mail"]?>" />
		</fieldset>
		
		<fieldset class="clearfix space">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" value="<?php echo $user["name"]?>" />
		</fieldset>
		
		<fieldset class="clearfix space">
			<label></label>
			<input type="submit" value="Profil updaten" />
		</fieldset>
		
	</form>
</div>