<?php  /*    Navi-Box    */ ?>
	<?php include("views/bestellung/navi.phtml"); ?> 
<?php  /*    Ende-Navi-Box    */ ?>
<?php
if( $data ) {
?>
<form action="<?php echo func::writeAdminURL('modul=bestellung,aktion=saveOrder')?>" method="post" id="details">
	
	<div id="kalender" class="clearfix">
		<?php
			foreach( $data as $key => $var ) { 
		?>
			<div class="title p4 clearfix">
				<span class="fll"><?php echo func::weekDay($key).' - '.date('d.m.Y',$key)?></span>
				<a href="#" title="Tag anzeigen" class="expand flr">Tag anzeigen</a>	
			</div>
			
			<div class="user">
				<ul class="clearfix">
					<li class="grid_4 fll box_1">
						<div class="border top p4">&nbsp;</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Eintopf</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 1</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 2</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 3</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 4</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 5</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Menü 6</div>
					</li>
					<li class="grid_4 fll box_1">
						<div class="border top p4">Nachspeise</div>
					</li>		
				</ul>
				<ul class='data clearfix'>
					<li class="grid_4 fll">
						<div class="border top p4 box_3"><?php echo date('d.m.Y',$key)?></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m1']['name'];
							echo '<div>'.@$var['m1']['kcal'].'kcal</div>'; 
							echo '<div class="right">'.@$var['m1']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m2']['name'];
							echo '<div>'.@$var['m2']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m2']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m3']['name'];
							echo '<div>'.@$var['m3']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m3']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m4']['name'];
							echo '<div>'.@$var['m4']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m4']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m5']['name'];
							echo '<div>'.@$var['m5']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m5']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m6']['name'];
							echo '<div>'.@$var['m6']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m6']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m7']['name'];
							echo '<div>'.@$var['m7']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m7']['price'].' &euro;</div>';
						?>
						</div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_3">
						<?php
							echo @$var['m8']['name'];
							echo '<div>'.@$var['m8']['kcal'].' kcal</div>'; 
							echo '<div class="right">'.@$var['m8']['price'].' &euro;</div>';
						?>
						</div>
					</li>
				</ul>	
				<?php foreach( $users as $usr ) { ?>
				<ul class='data check clearfix'>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><?php echo $usr['name']?></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m1#<?php echo @$var['m1']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m1']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m2#<?php echo @$var['m2']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m2']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m3#<?php echo @$var['m3']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m3']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m4#<?php echo @$var['m4']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m4']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m5#<?php echo @$var['m5']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m5']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m6#<?php echo @$var['m6']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m6']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m7#<?php echo @$var['m7']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m7']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>
					<li class="grid_4 fll">
						<div class="border top p4 box_1"><input type="checkbox" value="<?php echo $key?>#<?php echo $usr['id']?>#m8#<?php echo @$var['m8']['id']?>" name="value[]" class="select" <?php echo ( @in_array($var['m8']['id'],array_keys($usr['data'])) ) ? 'checked="checked"' : ''; ?> /></div>
					</li>		
				</ul>
				<?php } ?>
			</div>
			<?php
			}
		?>
		</div>
	<input type="submit" value="Speichern" class="orderSubmit" />
	<input type="hidden" name="kw" value="<?php echo $kw?>" />
</form>
<?php
} else {
?>	
<div class="grid_13 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_13">
	<div class="p4 border bl1_bt0 center" id="system">keine Einträge vorhanden</div>
</div>
<?php
}
?>