<?php  /*    Navi-Box    */ ?>
	<?php include("views/bestellung/navi.phtml"); ?> 
<?php  /*    Ende-Navi-Box    */ ?>

<div id="kalender" class="front grid_20 middle bl1_bt0">
	
	<div class="border title p4"><?php echo $seitentitel?></div>
	
	<?php if( $data ) { ?>	
		<ul class='data check clearfix'>
			<li class="grid_3 fll box_1_1">
				<div class="border top p4">Datum</div>
			</li>
			<li class="grid_3 fll box_1_1">
				<div class="border top p4">Menü</div>
			</li>
			<li class="grid_9 fll box_1_1">
				<div class="border top p4">Essen</div>
			</li>
			<li class="grid_3 fll box_1_1">
				<div class="border top p4">Bestellungen</div>
			</li>
			<li class="grid_3 fll box_1_1">
				<div class="border top p4">Gesamtpreis</div>
			</li>
		</ul>
			<?php 
			    $gesamt = 0;
				$alle   = 0;
				foreach( $data as $var ) { 
				  	$gesamt += ($var['gesamt'] * $var['price']);
					$alle += $var['gesamt'];
					
					if( $var['typ'] == 1 ) {
						$typ = 'Eintopf';
					} elseif( $var['typ'] >= 2 && $var['typ'] <= 7 ) {
						$typ = 'Menü '. ($var['typ']-1);
					} else {
						$typ = 'Nachspeise';
					}
					
				if( isset($curDate) ) {
					if( $var['date'] != $curDate ) {
						echo '<div class="line"></div>';
						$curDate = $var['date'];
					}
				} else {
					$curDate = $var['date'];
				}
			?>
			<ul class='data clearfix'>
				<li class="grid_3 fll">
					<div class="border top p4 box_2_1"><?php echo date('d.m.Y',$var['date'])?></div>
				</li>
				<li class="grid_3 fll">
					<div class="border top p4 box_2_1"><?php echo $typ?></div>
				</li>
				<li class="grid_9 fll">
					<div class="border top p4 box_2_1"><?php echo $var['name']?></div>
				</li>
				<li class="grid_3 fll">
					<div class="border top p4 box_2_1 center"><?php echo $var['gesamt']?></div>
				</li>
				<li class="grid_3 fll">
					<div class="border top p4 box_2_1 right">
					<?php 
					$price = $var['gesamt'] * $var['price'];
					echo number_format($price,2);
					?> &euro;
					</div>
				</li>
			</ul>
			<?php } ?>
			<div class="line"></div>
			<ul class='data check bold clearfix'>
				<li class="grid_15 fll box_1_1">
					<div class="border top p4 right">Gesamt</div>
				</li>
				<li class="grid_3 fll box_1_1">
					<div class="border top p4 center"><?php echo $alle?></div>
				</li>
				<li class="grid_3 fll box_1_1">
					<div class="border top p4 right"><?php echo number_format($gesamt,2)?> &euro;</div>
				</li>
			</ul>
		<?php
	} else {
	?>	
	<div class="middle grid_20">
		<div class="p4 border center" id="system">keine Einträge vorhanden</div>
	</div>
	<?php
	}
	?>
</div>