<ul id="navi" class="clearfix">
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,kw='.(date('W')-1))?>" title="letzte Kalenderwoche: <?php echo date('W')-1?>" <?php echo ($kw == date('W')-1) ? 'class="active"' : ''; ?>>letzte Kalenderwoche: <?php echo date('W')-1?></a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,kw='.date('W'))?>" title="aktuelle Kalenderwoche: <?php echo date('W')?>" <?php echo ($kw == date('W')) ? 'class="active"' : ''; ?>>aktuelle Kalenderwoche: <?php echo date('W')?></a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,kw='.(date('W')+1))?>" title="kommende Kalenderwoche: <?php echo date('W')+1?>" <?php echo ($kw == date('W')+1) ? 'class="active"' : ''; ?>>kommende Kalenderwoche: <?php echo date('W')+1?></a></li>
</ul>
<ul id="subnavi" class="clearfix">
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,kw='.$kw)?>" title="KW: <?php echo $kw?>" <?php echo ($aktion == '') ? 'class="active"' : ''; ?>>Bestellung</a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,aktion=uebersicht,kw='.$kw)?>" title="KW: <?php echo $kw?>" <?php echo ($aktion == 'uebersicht') ? 'class="active"' : ''; ?>>Bestellübersicht - Menüs</a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=bestellung,aktion=benutzer,kw='.$kw)?>" title="KW: <?php echo $kw?>" <?php echo ($aktion == 'benutzer') ? 'class="active"' : ''; ?>>Bestellübersicht - Benutzer</a></li>
</ul>