<?php  /*    Navi-Box    */ ?>
	<?php include("views/bestellung/navi.phtml"); ?> 
<?php  /*    Ende-Navi-Box    */ ?>
<div id="kalender" class="front bl1_bt0 grid_16 middle">
	
	<div class="border title p4"><?php echo $seitentitel?></div>
	
	<ul class='clearfix bold'>
        <li class="grid_4 fll">
            <div class="border top p4 box_1">Wer</div>
        </li>
        <li class="grid_3 fll">
            <div class="border top p4 right box_1">Menüs</div>
        </li>
        <li class="grid_3 fll">
            <div class="border top p4 right box_1">Aufschlag</div>
        </li>
        <li class="grid_3 fll">
            <div class="border top p4 right box_1">Gesamt</div>
        </li>
        <li class="grid_3 fll">
            <div class="border top p4 center box_1">&nbsp;</div>
        </li>
    </ul>
	<div class="line"></div>
	
	<?php if( $data ) { ?>	
		<?php 
		    $gesamt = 0;
            $gesamtAufschlag = 0;
            $allesGesamt = 0;
            
            if ( func::$unkostenpauschale == 1 ) {
                $addPrice = func::$unkostenbeitrag;
            } else {
                $addPrice = 0;
            }

			foreach( $data as $var ) {

                $aufschlag = $addPrice * ($var['orders'] - $var['nachtisch']);
                
				$gesamt += $var['gesamt'];
                
                $gesamtAufschlag += $aufschlag;
                
                $allesGesamt += $var['gesamt']+$aufschlag;
			?>
			<ul class='clearfix'>
				<li class="grid_4 fll">
					<div class="border top p4 box_1"><?php echo $var['name']?></div>
				</li>
				<li class="grid_3 fll">
					<div class="border top p4 right box_1"><?php echo number_format($var['gesamt'],2)?> &euro;</div>
				</li>
				<li class="grid_3 fll">
                    <div class="border top p4 right box_1"><?php echo number_format($aufschlag,2)?> &euro;</div>
                </li>
                <li class="grid_3 fll">
                    <div class="border top p4 right box_1"><?php echo number_format($var['gesamt'] + $aufschlag,2)?> &euro;</div>
                </li>
				<li class="grid_3 fll">
					<div class="border top p4 center box_1">
				<?php
					if( isset($payed[$var['id']]) && $payed[$var['id']]['status'] == 1 ) {
						echo '<a href="'.func::writeAdminURL('modul=bestellung,aktion=payed,kw='.$kw.',user='.$var['id']).'" title="Bezahlt setzen" class="open">nicht bezahlt</a>'; 
				 	} else {
				 		echo '<a href="'.func::writeAdminURL('modul=bestellung,aktion=payed,kw='.$kw.',user='.$var['id']).'" title="Bezahlt setzen" class="close">bezahlen</a>'; 
				 	} ?>
				 	</div>
				</li>
			</ul>
			<?php } ?>
			<div class="line"></div>
			<ul class='bold clearfix'>
				<li class="grid_4 fll box_1_1">
					<div class="border top p4 right">Gesamt</div>
				</li>
				<li class="grid_3 fll box_1_1">
					<div class="border top p4 right"><?php echo number_format($gesamt,2)?> &euro;</div>
				</li>
				<li class="grid_3 fll box_1_1">
                    <div class="border top p4 right"><?php echo number_format($gesamtAufschlag,2)?> &euro;</div>
                </li>
                <li class="grid_3 fll box_1_1">
                    <div class="border top p4 right"><?php echo number_format($allesGesamt,2)?> &euro;</div>
                </li>
				<li class="grid_3 fll box_1_1">
					<div class="border top p4">&nbsp;</div>
				</li>
			</ul>
		<?php
	} else {
	?>	
	<ul>
		<li class="border center empty">keine Bestellungen vorhanden</li>
	</ul>
	<?php
	}
	?>
</div>