<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>$betreff</title>
    <style type='text/css'>
   		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
		{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
		
		body{ background:url($csspath/themes/images/bg.jpg); font: normal 12px Verdana,Arial,Helvetica,sans-serif; color: #ffffff; }
		a { color:#fff; }
		a:hover { color:#03a4c2; }
		
		
		#page { margin:0 auto; width:750px; }
		
		#header { height: 108px; width:750px; }
		
		#title { font-size:16px; padding:6px 0 0 20px; background: url($csspath/themes/images/newsletter/title.png) repeat-y; height:24px; }
		#footer {padding:5px 20px; background: url($csspath/themes/images/newsletter/foot.png) no-repeat; height:25px}
		
		#content { vertical-align:top; width:730px; height:300px; background: url($csspath/themes/images/newsletter/bg.png) repeat-y; padding:10px; }
		#content table { border:1px solid #263D41; border-collapse:collapse; }
		#content td, #content th { padding:4px; border:1px solid #263D41; }
		
		.footerAdress {font:bold 10px/12px Verdana,Arial,Helvetica,sans-serif; color:#fff; float:left; margin-left:5px}
		.footerCopy {font:bold 8px/12px Verdana,Arial,Helvetica,sans-serif; color:#fff; float:right; margin-right:5px}
		
		.accept { text-align:center; font-size:16px; font-weight:bold; }
		.text { font-size:12px; text-align:center; }
		.smaler { font-size:12px; font-weight:bold; }
	</style>
</head>
<body>
	<center>
	<div id="page">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td id="header">
					<img src="$csspath/themes/images/newsletter/head.png" alt="$title" />
				</td>
			</tr>
			<tr>
				<td id="title">$betreff</td>
			</tr>
			<tr>
				<td id="content">
					$content
					$extra
				</td>
			</tr>
			<tr>
				<td id="footer">
					<span class="footerAdress">Media Store Eisenberg | Klosterlausnitzer Straße 1 | 07607 Eisenberg</span>
					
					<span class="footerCopy">Copyright &copy; Media Store Eisenberg. All Rights reserved</span>
					<br clear="all" />
				</td>
			</tr>
		</table>
	</div>
	</center>
</body>
</html>