<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15" id="system">
	<div class="p4 border bl1_bt0">
		<?php
			echo $message;
		
			if( isset($redirect) && $redirect != "" ) {
		?>
			<div>
				Dein Browser leitet dich nicht automatisch weiter, dann klicke doch einfach 
				<a href='<?php echo $redirect?>' title='zur Übersicht' class='bold'>HIER</a>
			</div>
			<script type="text/javascript">
			   	setTimeout("self.location.href='<?php echo $redirect?>'",3000);
			</script>
		<?php 
			}
		?>
	</div>
</div>