/*
   modules.css
   Essentool
   
   Created by Danny C. on 2011-08-27.
   Copyright 2011 Danny C. 
   All rights reserved.

------------------
 Table of Content
------------------
  @TODO: ToC
*/

.bl1_bt0 { border-left:1px solid #ccc; border-top:0 }

#kalender.borderTop { border-top:1px solid #ccc }
.border { border-right:1px solid #ccc; border-bottom:1px solid #ccc }

.top li { height:20px; line-height:20px; font-weight:bold }
#kalender .data li { overflow:hidden; font-size:10px }

#kalender .check li:first-child { text-align:left }
#kalender .check li { text-align:center }

#kalender .empty { padding:6px }

#kalender .unit { float:right; width:25px; display:block; text-align:left; padding-left:4px }
#kalender .menu { height:59px; width:129px; max-width:129px; max-height:59px }

#kalender .user { display:none }

#kalender .ordered { background-color:#e3e3e3 }

#kalender .title { border:1px solid #ccc; border-left:0 }


#details #kalender { border-bottom:1px solid #ccc }
#details #kalender .title { border:1px solid #ccc; border-bottom:0 }
#details #kalender .user { border-left:1px solid #ccc }
#details #kalender .user ul:last-child .border { border-bottom:0 }
#details #kalender .user ul:first-child .border { border:1px solid #ccc; border-left:0 }

.orderSubmit { margin:10px auto; display:block }

.bottomSpace { margin:15px 0 }
.bottomSpace input { border-radius:3px }

#system, #kalender { background:#fff }
#system label { width:150px; height:20px; display:block; float:left; text-align:right; margin-right:6px }
#system input { margin-right:6px; border:1px solid #ccc; border-radius:3px; font:normal 12px/12px Arial, Helvetica, sans-serif }
#system input[type=submit] { background:#fff }
#system .trap { border:0 }

#system .grid_4 { width:159px }


#system a.close, #kalender a.close { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; cursor:pointer; border:1px solid #ccc; border-radius:3px; display:block; padding:4px 20px 5px; background:-moz-linear-gradient(top,#ccc,#f9f9f9) }
#system a.open, #kalender a.open { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; border:1px solid #ccc; border-radius:3px; display:block; padding:2px 20px; background:#fff; text-decoration:line-through }

.saveButton { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; cursor:pointer; border:1px solid #ccc; border-radius:3px; display:block; padding:2px 20px; background:-moz-linear-gradient(top,#ccc,#f9f9f9); margin-left:10px; float:left }

#users { width:449px; margin:0 auto; border-left:1px solid #ccc; border-top:1px solid #ccc; margin-top:10px }



#users li { float:left; padding:4px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:20px }

#users li a { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; cursor:pointer; border:1px solid #ccc; border-radius:3px; display:block; padding:2px 20px; background:-moz-linear-gradient(top,#ccc,#f9f9f9); width:50px; margin:0 auto }
#users li span { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; border:1px solid #ccc; border-radius:3px; display:block; padding:2px 20px; background:#fff; text-decoration:line-through }



#orders { width:825px; margin:0 auto; border-left:1px solid #ccc; border-top:1px solid #ccc; margin-top:10px }

#orders .top { font-weight:bold; height:15px }

#orders li { float:left; padding:4px; height:30px }
#orders li.cell0 { width:628px }


#ordersToday { margin:0 auto; border-left:1px solid #ccc; border-top:1px solid #ccc; margin-top:10px }

#ordersToday .top { font-weight:bold; height:15px }

#ordersToday li { float:left; padding:4px; height:65px }


#ordersToday li.cell1 { width:80px }
#ordersToday li.cell2 { width:502px }

.userOrders { margin-top:4px; padding-top:4px; display:block; border-top:1px solid #ccc }

.line { height:1px; background:#ccc; border:1px solid #ccc; border-bottom:1px solid #909090 }
.space { margin-top:10px }

.title { background:-moz-linear-gradient(top,#ccc,#f9f9f9); font-weight:bold; text-align:center }


/*** HEADLINE ***/
.box_0 { height:12px }
.box_0_1 { height:17px }
.box_1 { height:20px }
.box_1_1 { height:21px }

.box_2 { height:60px }
.box_2_1 { height:27px }

.box_3 { height:80px }
.box_4 { height:100px }
.box_4_1 { height:112px }
.box_5 { height:140px }


/*** GRIDS ***/
.grid_1 { width:40px }
.grid_2 { width:60px }

.grid_3 { width:120px }
.grid_4 { width:140px }

.grid_5 { width:200px }
.grid_6 { width:220px }

.grid_7 { width:280px }
.grid_8 { width:300px }

.grid_9 { width:360px }
.grid_10 { width:380px }

.grid_11 { width:440px }
.grid_12 { width:460px }

.grid_13 { width:520px }
.grid_14 { width:540px }

.grid_15 { width:600px }
.grid_16 { width:620px }

.grid_17 { width:680px }
.grid_18 { width:700px }

.grid_18 { width:760px }
.grid_19 { width:780px }

.grid_20 { width:840px }
.grid_21 { width:860px }

.grid_22 { width:920px }
.grid_23 { width:940px }

.grid_24 { width:1000px }
.grid_25 { width:1020px }
