/*
   style.css
   Essentool
   
   Created by Danny C. on 2011-08-27.
   Copyright 2011 Danny C. 
   All rights reserved.

------------------
 Table of Content
------------------
  1. Standartstyle aufheben // reset.css
  2. diverse Klassen
    1. Bodyklasse
    2. Links stylen
	3. Floatklassen
	4. Sichtbarkeitsklassen
	5. Ausrichtung
	6. Ueberschriften
	7. Tooltip
	8. Clearfix
	9. Textformatierung
	10. Sonstiges
*/


/*#######################    1. Standartstyle aufheben // reset.css    #######################*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent }
body { line-height:1 }
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:'' }
:focus { outline:0 }
ins { text-decoration:none }
del { text-decoration:line-through }
table { border-collapse:collapse; border-spacing:0 }


input[type=radio], input[type=checkbox] { border:0 }
input[type=radio]:focus, input[type=checkbox]:focus { border:0 }

input, select, textarea { font:normal 10px Arial, Helvetica, sans-serif; border:1px solid #ccc }

button { border:1px solid #ccc; border-radius:3px; background:#fff; padding:0 }
input:focus, select:focus { border:1px solid #03a4c2; color:#03a4c2 }
option { border:0 }


/*#######################    2. diverse Klassen    #######################*/
/* 1. Bodyclasse */
body { background:#fff url(/themes/images/bg.png) repeat-x; font:normal 12px Verdana,Arial,Helvetica,sans-serif; color:#000; position:relative }


/* 2. Links stylen */
a { color:#000 }
a:hover { color:#03a4c2 }


/* 3. Floatklassen */
.fll { float:left }
.flr { float:right }


/* 4. Sichtbarkeitsklassen */
.block { display:block }
.hidden { display:none }


/* 5. Ausrichtung */
.left { text-align:left }
.center { text-align:center }
.right { text-align:right }

.middle { margin:0 auto }


/* 6. Ueberschriften */
h2 {color:#012529; font-size:18px }


/* 7. Tooltip */
.tooltip { display:none; position:absolute; border:1px solid #263D41; background-color:#000; padding:4px }


/* 8. Clearfix */
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0 }
* + html .clearfix { /* für IE7 */ display:inline-block }


/* 9. Textformatierung */
.bold { font-weight:bold }
.italic { font-style:italic }
.underlined { text-decoration:underline }
.small { font-size:10px }


/* 10. Sonstiges */
.relative { position:relative }
.absolute { position:absolute }

.p4 { padding:4px }
.m0 { margin:0 }
.mb6 { margin-bottom:6px }
.mt10 { margin-top:10px }
