/*
   template.css
   Essentool
   
   Created by Danny C. on 2011-08-27.
   Copyright 2011 Danny C. 
   All rights reserved.

------------------
 Table of Content
------------------
  1. Page-Box
  2. Login
  3. Header
  4. Navigation
  5. Warenkorb
  6. Content
*/

/*#######################    1. Page-Box    #######################*/
#page { position:relative; margin:0 auto; width:1261px }


/*#######################    2. Login    #######################*/
#menu { position:fixed; top:0; width:1251px; border:1px solid #ccc; border-top:0; border-radius:0 0 4px 4px; padding:4px; 
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
#menu li { margin-right:5px }

#menu li input { border:1px solid #ccc; border-radius:3px; background:#fff; font:normal 12px/12px Arial, Helvetica, sans-serif }
#menu li a { text-decoration:none; font:normal 12px/12px Arial, Helvetica, sans-serif; cursor:pointer; border:1px solid #ccc; border-radius:3px; background:#fff; display:block; padding:2px 20px }

#menu input { width:100px; margin-right:5px }


/*#######################    3. Header    #######################*/
header { background:url(/themes/images/header.png) no-repeat; height:100px; margin-top:25px }
h1 { padding-left:20px; height:80px }
h1 a { background:url(/themes/images/logo.png) no-repeat; padding-left:90px; font:bold 40px/80px Arial, Helvetica, sans-serif; text-decoration:none; color:#3ea6de; text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff }
h1 a:hover { color:#3ea6de }

/*#######################    4. Navigation    ########################*/
#navi { border:1px solid #ccc; border-radius:4px 4px 0 0; padding:4px;
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
#navi li { float:left; border-right:1px solid #ccc }
#navi li:last-child { border:0 }

#navi li a { width:415px; font:normal 12px/20px Verdana,Arial,Helvetica,sans-serif; color:#000; text-decoration:none; text-align:center; display:block }
#navi li a:hover { font-weight:bold }
#navi li a.active { font-weight:bold; text-decoration:underline }


#subnavi { border:1px solid #ccc; width:600px; padding:4px; margin:10px auto; background:-moz-linear-gradient(top,#ccc,#f9f9f9) }
#subnavi li { float:left; border-right:1px solid #ccc }
#subnavi li:last-child { border:0 }

#subnavi li a { width:199px; font:normal 12px/20px Verdana,Arial,Helvetica,sans-serif; color:#000; text-decoration:none; text-align:center; display:block }
#subnavi li a:hover { font-weight:bold }
#subnavi li a.active { font-weight:bold; text-decoration:underline }


/*#######################    5. Warenkorb    ########################*/
#warenkorb { width:300px; top:22px; right:-5px; border:1px solid #ccc; border-radius:0 0 4px 4px; background:#fff; padding:4px; z-index:20 }
#warenkorb .borderDoubleTop { border-top:4px double #ccc; margin-top:3px; padding-top:3px }

#warenkorb .green { background-color:#adff2f }
#warenkorb .red { background-color:#ff6347 }


/*#######################    6. Content    ########################*/
#content { min-height:600px; border-radius:4px 4px 0 0; margin-top:-20px }

#content h2 { font-size:12px; text-align:center; border:1px solid #ccc; border-radius:4px 4px 0 0; background:-moz-linear-gradient(top,#ccc,#f9f9f9) }
.contentBox { border:1px solid #ccc; border-top:0; padding:10px }

.popupBackground { z-index:1000; width:100%; height:100%; position:fixed; left:0; top:0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(249,249,249,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(249,249,249,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(249,249,249,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(249,249,249,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(249,249,249,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(249,249,249,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80f9f9f9',GradientType=0 ); /* IE6-9 */
}
.popup { z-index:2000; position:fixed; top:200px; left:300px; border:2px solid #ccc; border-radius:4px; padding:10px; background:#fff }
.popup table { margin-top:10px }
.popup table td { border:1px solid #ccc; padding:4px; border-collapse:collapse }
.closePopup { cursor:pointer; position:absolute; right:10px; top:10px; display:block; width:10px; height:10px; border:2px solid #ccc; border-radius:4px; font-size:12px; padding:2px; text-align:center; font-weight:bold; line-height:10px }
.closePopup:hover { background:#ccc; border-color:#000 }
#pricePopup { font-weight:bold !important; text-decoration:blink !important }
