<?php 

require 'min/conf.php';
require 'min/groupsSources.php';

require 'min/lib/Minify/Build.php';

$jsBuild = new Minify_Build($groupsSources['jquery']);
$cssBuild = new Minify_Build($groupsSources['maincss']);
?>
<!DOCTYPE HTML>
<html>
<head>
	<title><?php echo $seitentitel?> | Essenstool</title>

	<base id="basepath" href="<?php echo  $script_path?>" />
	
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="author" content="Danny Curth - www.danny-curth.de" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />
		
	<link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/style.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/template.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/modules.css'; ?>" />

	<?php
		if( isset($debug) && $debug) {
			foreach($debug as $debugarr) {
				echo $debugarr;
			}
		}
	?>
</head>
<?php flush(); ?>
<body>	
	<input type="hidden" id="base" value="<?php echo $script_path?>" />
	<?php  /*    Page-Box    */ ?> 
	<div id="page">
		
		<?php  /*    Login-Box    */ ?>
		<?php include($loginbox); ?>
		<?php  /*    Ende-Login-Box    */ ?>
		<header>
			<h1>
				<a href="<?php echo func::writeURL('modul=kalender')?>" title="zum Kalender">Essenstool</a>
			</h1>
		</header>
	       
		<?php  /*    Main-Box    */ ?>
		<div id="content" class="clearfix">
       		<?php include($content); ?>
		</div>
		<?php  /*    Ende-Main-Box    */ ?>
			
	</div>
	
	<div class="popupBackground hidden"></div>
	<div class="popup hidden">
	    <span class="closePopup" title="Schließen">X</span>
	    <h2>Achtung</h2>
	    <div>
	        Rastenberger &auml;ndert ab Januar die Preise der Men&uuml;s.<br />
	        Diese werden dann wiefolgt aussehen:
	        
	        <table>
	            <tr>
	                <td>Produkt</td>
	                <td>Alter Preis</td>
	                <td>Neuer Preis</td>
	            </tr>
	            <tr>
                    <td>Eintopf</td>
                    <td>2,30 €</td>
                    <td>2,30 €</td>
                </tr>
                
                <tr>
                    <td>Menü 1</td>
                    <td>2,90 €</td>
                    <td>2,90 €</td>
                </tr>
                
                <tr>
                    <td>Menü 2</td>
                    <td>2,90 €</td>
                    <td>2,95 €</td>
                </tr>
                
                <tr>
                    <td>Menü 3</td>
                    <td>2,90 €</td>
                    <td>3,20 €</td>
                </tr>
                
                <tr>
                    <td>Menü 4</td>
                    <td>3,60 €</td>
                    <td>3,80 €</td>
                </tr>
                
                <tr>
                    <td>Menü 5</td>
                    <td>2,90 €</td>
                    <td>2,95 €</td>
                </tr>
                
                <tr>
                    <td>Menü 6</td>
                    <td>3,40 €</td>
                    <td>3,75 €</td>
                </tr>
	        </table>
	        <br />
	        <strong>*Zusätzlich zu den geänderten Preisen werden<br /> pro Menü 5 ct aufgeschlagen um die entstehenden<br /> Unkosten der Bar-Rechnungszahlung zu begleichen.</strong>
	    </div>
	</div>
	<?php  /*    Ende-Page-Box    */ ?>
	<?php include("views/modules/footincludes.phtml") ?>
</body>
</html>