<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>
<div class="middle grid_15">
	<p class="p4 border bl1_bt0 center">
		Finger weg da. Logge dich doch erstmal ein um dir das anzuschauen... :-/
	</p>
</div>