<?php  /*    Navi-Box    */ ?>
	<?php include("views/kalender/navi.phtml"); ?> 
<?php  /*    Ende-Navi-Box    */ ?>

<form action="<?php echo func::writeAdminURL('modul=kalender,aktion=speichern')?>" method="post">
	
	<fieldset id="kalender" class="front bl1_bt0">
		
		<ul id="headline" class="clearfix">
			<li class="grid_4 fll box_1">
				<div class="border top p4">&nbsp;</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Eintopf</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 1</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 2</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 3</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 4</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 5</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Menü 6</div>
			</li>
			<li class="grid_4 fll box_1">
				<div class="border top center p4">Nachspeise</div>
			</li>	
		</ul>	
		
		<?php
			foreach( $data as $key => $var ) { ?>
			<ul class='data clearfix'>
				<li class="grid_4 fll">
					<div class="border box_4_1 p4">
					<?php
						echo func::weekDay($key).'<br />'.
							 date('d.m.Y',$key);
					?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['1']['price'] != "") ? $var['1']['price'] : '2.30';
						echo '<textarea class="menu" name="data['.$key.'][1][name]">'.@$var['1']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][1][id]" value="'.@$var['1']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][1][typ]" value="1" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][1][kcal]" size="7" value="'.@$var['1']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][1][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['2']['price'] != "") ? $var['2']['price'] : '2.90';
						echo '<textarea class="menu" name="data['.$key.'][2][name]">'.@$var['2']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][2][id]" value="'.@$var['2']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][2][typ]" value="2" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][2][kcal]" size="7" value="'.@$var['2']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][2][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['3']['price'] != "") ? $var['3']['price'] : '2.95';
						echo '<textarea class="menu" name="data['.$key.'][3][name]">'.@$var['3']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][3][id]" value="'.@$var['3']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][3][typ]" value="3" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][3][kcal]" size="7" value="'.@$var['3']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][3][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['4']['price'] != "") ? $var['4']['price'] : '3.20';
						echo '<textarea class="menu" name="data['.$key.'][4][name]">'.@$var['4']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][4][id]" value="'.@$var['4']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][4][typ]" value="4" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][4][kcal]" size="7" value="'.@$var['4']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][4][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['5']['price'] != "") ? $var['5']['price'] : '3.80';
						echo '<textarea class="menu" name="data['.$key.'][5][name]">'.@$var['5']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][5][id]" value="'.@$var['5']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][5][typ]" value="5" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][5][kcal]" size="7" value="'.@$var['5']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][5][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['6']['price'] != "") ? $var['6']['price'] : '2.95';
						echo '<textarea class="menu" name="data['.$key.'][6][name]">'.@$var['6']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][6][id]" value="'.@$var['6']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][6][typ]" value="6" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][6][kcal]" size="7" value="'.@$var['6']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][6][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['7']['price'] != "") ? $var['7']['price'] : '3.75';
						echo '<textarea class="menu" name="data['.$key.'][7][name]">'.@$var['7']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][7][id]" value="'.@$var['7']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][7][typ]" value="7" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][7][kcal]" size="7" value="'.@$var['7']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][7][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
				<li class="grid_4 fll">
					<div class="border box_2 p4">
					<?php
						$price = ($var['8']['price'] != "") ? $var['8']['price'] : '0.50';
						echo '<textarea class="menu" name="data['.$key.'][8][name]">'.@$var['8']['name'].'</textarea>';
						echo '<input type="hidden" name="data['.$key.'][8][id]" value="'.@$var['8']['id'].'" />';
						echo '<input type="hidden" name="data['.$key.'][8][typ]" value="8" />';
					?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][8][kcal]" size="7" value="'.@$var['8']['kcal'].'" /> <div class="unit">kcal</div>'; ?>
					</div>
					<div class="border box_0_1 p4 right">
						<?php echo '<input type="text" name="data['.$key.'][8][price]" size="7" value="'.$price.'" /> <div class="unit">&euro;</div>'; ?>
					</div>
				</li>
			</ul>	
		<?php
		}
		?>
	</fieldset>
	
	<div class="mt10 center middle grid_8 clearfix">
		<span class="grid_4 block fll" id="system">
			<a href="<?php echo $script_path. 'admin/classes/app/rastenberger.class.php?kw=' . $nextKw . '&year='.$year?>" title="XML generieren" class="close">Daten holen</a>
		</span>
		<input type="hidden" name="kw" value="<?php echo $kw?>" />
        
		<input type="submit" value="Daten Speichern" class="saveButton" />
	</div>
	
</form>