<ul id="navi" class="clearfix">
	<li><a href="<?php echo func::writeAdminURL('modul=kalender,kw='.(date('W')-1))?>" title="letzte Kalenderwoche: <?php echo date('W')-1?>" <?php echo ($kw == date('W')-1) ? 'class="active"' : ''; ?>>letzte Kalenderwoche: <?php echo date('W')-1?></a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=kalender,kw='.(date('W')+0))?>" title="aktuelle Kalenderwoche: <?php echo date('W')+0?>" <?php echo ($kw == date('W')+0) ? 'class="active"' : ''; ?>>aktuelle Kalenderwoche: <?php echo date('W')+0?></a></li>
	<li><a href="<?php echo func::writeAdminURL('modul=kalender,kw='.(date('W')+1))?>" title="kommende Kalenderwoche: <?php echo date('W')+1?>" <?php echo ($kw == date('W')+1) ? 'class="active"' : ''; ?>>kommende Kalenderwoche: <?php echo date('W')+1?></a></li>
</ul>