<div class="grid_10 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_10">
	<div class="p4 border bl1_bt0" id="system">
		<ul>
			<?php 
				foreach($data as $var) {
					echo '<li class="clearfix mb6">
							<div class="fll">Kalenderwoche: '.$var['kw'].'</div>
							<div class="right flr">';
							if( $var['open'] == 1) {
								echo '<a href="'.func::writeAdminURL('modul=kalender,aktion=close,kw='.$var['kw']).'" title="Bestellungsm&ouml;glichkeit schlie&szlig;en" class="close">Abschlie&szlig;en</a>';
							} else {
								echo '<a href="'.func::writeAdminURL('modul=kalender,aktion=open,kw='.$var['kw']).'" title="Bestellungsm&ouml;glichkeit &ouml;ffnen" class="open">&Ouml;ffnen</a>';
							}
					echo '					
							</div>
						</li>';
				}
			?>
		</ul>
	</div>
</div>
