<h3 class="sprite">Zugriff verweigert</h3>
<div class="content_links_container">
	Sie d&uuml;rfen diese Funktion nur benutzen, wenn Sie eingeloggt sind!
	
	<div>Jetzt einloggen:</div>
	<form action="<?php echo $login; ?>" method="post">
		<div>
			<input class="leeren" type="text" name="kundenmail" value="Ihre E-Mail-Adresse" />
			<input class="leeren" type="text" name="kundennummer" value="Ihre Kundennummer" />
			<input type="hidden" name="redirect" value="<?php echo $_SERVER["REQUEST_URI"]?>" />
			<input class="search_out" type="submit" name="einloggen" value="Einloggen" />
		</div>
	</form>
</div>