<div class="grid_17 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="grid_17 middle">
	<form action="<?php echo func::writeAdminURL('modul=user,aktion=speichern,user='.$data['id'])?>" method="post" class="p4 border bl1_bt0" id="system">

		<fieldset class="clearfix space">
			<label>E-Mail-Adresse:</label>
			<input type="text" name="email" value="<?php echo $data["email"]?>" />
		</fieldset>
		
		<fieldset class="clearfix space">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" value="<?php echo $data["name"]?>" />
		</fieldset>
		
		<fieldset class="clearfix space">
			<label></label>
			<input type="submit" value="Profil updaten" />
		</fieldset>
		
	</form>
</div>