<?php 
	if( $data["geburtstag"] ) {
		$bday = explode("T",$data["geburtstag"]);
		$bday = explode("-",$bday[0]);
		$bday = $bday[2].".".$bday[1].".".$bday[0];
	} else {
		$bday = "";
	}
	
	echo "
	<h3 class='sprite'>$seitentitel</h3>
	<form action='".func::writeAdminURL("modul=kunde,aktion=eintragen")."' method='post' id='validate'>
	<div class='content_links_container'>
		<div>
			<label for='id'>Kundennummer:</label>
			<input type='text' name='id' id='id' size='80' value='$data[id]' class='validate[required]' />
			$error[id]
		</div>
		
		<div>
			<label for='email'>E-Mail-Adresse:</label>
			<input type='text' name='email' id='email' size='80' value='$data[email]' class='validate[required,custom[email]]' />
			$error[email]
		</div>
		
		<div>
			<label for='geburtstag'>Geburtstag:</label>
			<input type='text' name='geburtstag' id='geburtstag' size='10' maxlength='10' value='".$bday."' class='validate[required,custom[date]]' />
			$error[geburtstag]
		</div>
		
		<button type='submit' class='b5 btn mt10'>
			<span class='btnicon icons save p0 mt3 ml20'>&nbsp;</span>
			<span class='buttons'>
				<span class='buttons'>Speichern</span>
			</span>	
		</button>
		
		<button type='reset' class='b5 btn mt10'>
			<span class='btnicon icons cross p0 mt3 ml20'>&nbsp;</span>
			<span class='buttons'>
				<span class='buttons'>Felder zurücksetzen</span>
			</span>	
		</button>
	</div>
	</form>	
	";
?>