<div class="grid_17 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_17" id="system">
	<?php foreach($data as $var) { ?>
	
		<ul class="clearfix bl1_bt0">
			<li class="grid_4 fll">
				<div class="border top p4 box_0_1"><?php echo $var['name']?></div>
			</li>
			<li class="grid_7 fll">
				<div class="border top p4 box_0_1"><?php echo $var['email']?></div>
			</li>
			<li class="grid_3 fll">
				<div class="border top p4 box_0_1">
					<a href="<?php echo func::writeAdminURL('modul=user,aktion=bearbeiten,user='.$var['id'])?>" title="Benutzer bearbeiten" class="close">bearbeiten</a></div>
			</li>
			<li class="grid_3 fll">
				<div class="border top p4 box_0_1">
					<a href="<?php echo func::writeAdminURL('modul=user,aktion=entfernen,user='.$var['id'])?>" title="Benutzer entfernen" class="close">entfernen</a></div>
			</li>
		</ul>
			
	<?php } ?>
</div>