<h3 class="sprite"><?php echo $seitentitel?></h3>
<div class='content_links_container'>

	<div id="kundenliste">
		<div class="title_long clearfix titlebar">
			<div class="cell1 bold fll">KdNr</div>
		    <div class="cell2 bold fll">E-Mail-Adresse</div>
		    <div class="cell3 bold fll">Geburtstag</div>
		    <div class="cell4 bold fll">Option</div>
		</div>
		<?php 
		if($data !== false) {
	    	foreach($data as $var)
	    	{
	    		$bday = explode("T",$var["geburtstag"]);
	    		$bday = explode("-",$bday[0]);
	    		echo "
	    			<div class='clearfix'>
	    				<div class='cell1 fll borderTop'>$var[id]</div>
			    		<div class='cell2 fll borderTop'>$var[email]</div>
			    		<div class='cell3 fll borderTop'>".$bday[2].".".$bday[1].".".$bday[0]."</div>
			    		<div class='cell4 fll borderTop center'>
			    			<a href='".func::writeAdminURL("modul=kunde,aktion=eintragen,id=$var[id]")."' title='bearbeiten'><img src='".$script_path."admin/themes/images/icons/edit.gif' alt='bearbeiten' /></a>
			    			&nbsp;
			    			<a href='".func::writeAdminURL("modul=kunde,aktion=entfernen,id=$var[id]")."' title='l&ouml;schen'><img src='".$script_path."admin/themes/images/icons/delete.gif' alt='l&ouml;schen' /></a>
			    		</div>
			    	</div>
	    		";
	    	}    
		} else {
			echo "<div class='p5 center'>keine Kunden vorhanden!</div>";
		}
		?>
	</div>
	<?php echo $pager?>
</div>