<?php 

require '../min/conf.php';
require '../min/groupsSources.php';

require '../min/lib/Minify/Build.php';

$jsBuild = new Minify_Build($groupsSources['jquery']);
$cssBuild = new Minify_Build($groupsSources['maincss']);
?>
<!DOCTYPE HTML>
<html>
<head>
    <title>Essenstool - Administration - Login</title>

    <base id="basepath" href="<?php echo $script_path?>" />
	
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="author" content="Danny Curth - www.danny-curth.de" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />

    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/style.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/template.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/modules.css'; ?>" />

	<?php 
		if( isset($debug) && $debug) {
			foreach($debug as $debugarr) {
				echo $debugarr;
			}
		}
	?>
</head>
<body>

	<!--##########    Page-Box    ##########--> 
	<div id="page">
		<ul id="menu" class="clearfix">
			<li class="fll">
				<form action="<?php echo func::writeAdminURL("modul=login,aktion=check"); ?>" method="post">
					<fieldset>	
						E-Mail-Adresse:
						<input class="leeren sprite kundenmail" type="text" name="mail" />
						
						Passwort:
						<input class="leeren sprite kundenpassword" type="password" name="password" />
						
						<input type="submit" value="Einloggen" />  
					</fieldset>
				</form>	
			</li>
		</ul>
		
		<header>
			<h1>
				<a href="<?php echo func::writeAdminURL('modul=kalender')?>" title="zum Kalender">Essenstool - Administration</a>
			</h1>
		</header>
		<div id="content" class="clearfix">
			<div class="grid_15 middle">
				<h2 class="p4 middle">Login zur Administration</h2>
			</div>
			
			<div class="middle grid_15" id="system">
				<div class="p4 border bl1_bt0 center">
					Bitte logge dich ein, um Zugriff zur Administration zu erhalten.
					
					<?php if( isset($error) && $error !="" ) { ?>		
						<div class="error"><?php echo $error?></div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
	<!--##########    Ende-Page-Box    ##########--> 
</body>
</html>