<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<div class="p4 border bl1_bt0 center" id="system">
    	Willkommen im Administrationsbereich.
    </div>
</div>