<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<div class="p4 border bl1_bt0" id="system">
		<?php echo $message?>
		<form action="<?php echo $link?>" method="post">
			<fieldset class="clearfix space">
					<label>E-Mail-Adressse: </label>
					<input type="text" name="mail" value="<?php echo @$_POST["mail"]?>" />
					<?php echo @$error["mail"]?>
			</fieldset>
			<fieldset class="clearfix space">
					<label>Neues Passwort: </label>
					<input type="password" id="password" name="password" value="" autocomplete="off" />
					<?php echo @$error["password"]?>
			</fieldset>
			<fieldset class="clearfix space">
					<label>Passwort wiederholen: </label>
					<input type="password" id="repeatPW" name="repeatpw" value="" autocomplete="off" />
					<?php echo @$error["repeatpw"]?>
			</fieldset>
			<fieldset class="clearfix space">
				<label></label>
				<img src="<?php echo $script_path;?>/classes/conf/captcha.class.php" alt="Sicherheitsbild" />
			</fieldset>
			<fieldset class="clearfix space">
				<label for="sicherheitscode">Sicherheitsbild:</label>
				<input type="text" name="captcha" class="captcha validate[required] ml4" id="sicherheitscode" />
				<?php echo @$error["captcha"]?>
			</fieldset>
			<fieldset class="clearfix space">
					<input class="search_out" type="submit" name="einloggen" value="Passwort speichern" />
					
					<input type="text" name="trap" class="trap" />
					<input type="hidden" name="code" value="<?php echo $code?>" />
			</fieldset>
		</form>
	</div>
</div>