<ul id="logged" class="clearfix">
	<li>Willkommen |</li>
	<li><a href="<?php echo func::writeURL("modul=bestellungen")?>" title="Meine Bestellungen">Meine Bestellungen</a> |</li>
	<li><a href="<?php echo func::writeURL("modul=merkliste")?>" title="Meine Merkliste">Meine Merkliste</a> |</li>
	<li><a href="<?php echo func::writeURL("modul=konto")?>" title="Meine Daten">Meine Daten</a> |</li>
	<li>
		<a href="<?php echo $logout?>" id="warenkorbLink" title="Ausloggen">Ausloggen</a>
		<div id="warenkorb" class="hidden absolute"></div>
	</li>
</ul>