<form action="<?php echo $login?>" method="post" id="login" class="fll">
	<fieldset>
		E-Mail-Adresse
		<input class="leeren sprite kundenmail" type="text" name="kundenmail" />
		
		Passwort
		<input class="leeren sprite kundennummer" type="password" name="kundennummer" />
		
		<input type="hidden" name="redirect" value="<?php echo $_SERVER["REQUEST_URI"]?>" />
		
		<input type="submit" value="Einloggen" />
		
	</fieldset>
</form>