<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<div class="p4 border bl1_bt0" id="system">
	    Ungültige Zugangsdaten.<br />
	    Bitte versuche es erneut.
	    <br /><br />
	    <form action="<?php echo $login?>" method="post" id="password">
			<fieldset class="space">
				<label for="mail">E-Mail-Adresse</label>
				<input class="leeren sprite kundenmail" type="text" name="mail" id="mail" autocomplete="off" />
			</fieldset>
			<fieldset class="space">	
				<label for="password">Passwort</label>
				<input class="leeren sprite kundenmail" type="password" name="password" id="password" autocomplete="off" />
			</fieldset>
			<fieldset class="space">	
				<label></label>
				<input type="hidden" name="redirect" value="<?php echo $_SERVER["REQUEST_URI"]?>" />
				<input class="search_out" type="submit" name="einloggen" value="Einloggen" />
			</fieldset>
		</form>
	</div>
</div>