<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<div class="p4 border bl1_bt0 center" id="system">

	    <br />

	    <p>Hallöchen.</p>

	    <br />

	    <p>
	    	Dein Browser leitet dich nicht automatisch weiter, dann klicke doch einfach
	    	<a href="<?php echo $redirect?>" title="weiter">hier</a>
	    </p>

	    <br />

		<script type="text/javascript">
		   	self.location.href= '<?php echo $redirect?>';
		</script>
	</div>
</div>