<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15" id="system">
	<div class="p4 border bl1_bt0">
		<?php echo $message?>
		
		<form action="<?php echo $link?>" method="post">
			<fieldset class="clearfix space">
				<label for="mail">E-Mail-Adresse:</label>
				<input class="leeren sprite kundenmail" type="text" name="mail" id="mail" value="<?php echo @$_POST["mail"]?>" autocomplete="off" />
				<?php echo @$error["mail"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label></label>
				<img src="<?php echo $script_path;?>/classes/conf/captcha.class.php" alt="Sicherheitsbild" />
			</fieldset>
			
			<fieldset class="clearfix space">
				<label for="sicherheitscode">Sicherheitsbild:</label>
				<input type="text" name="captcha" class="captcha validate[required] ml4" id="sicherheitscode" />
				<?php echo @$error["captcha"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label></label>
				<input type="submit" name="einloggen" value="Passwortlink anfordern" />
				<input type="text" name="trap" class="trap" />
			</fieldset>
		</form>
	</div>
</div>