<div class="grid_15 middle">
	<h2 class="p4 middle"><?php echo $seitentitel?></h2>
</div>

<div class="middle grid_15">
	<div class="p4 border bl1_bt0" id="system">
		<?php echo $message?>
		
		<form action="<?php echo func::writeURL("modul=login,aktion=speichern")?>" method="post">
			<fieldset class="clearfix space">
				<label for="mail">E-Mail-Adresse:</label>
				<input class="leeren sprite mail" type="text" name="mail" id="mail" value="<?php echo @$_POST["mail"]?>" autocomplete="off" />
				<?php echo @$error["mail"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label for="password">Passwort:</label>
				<input class="leeren sprite password" type="password" name="password" id="password" value="<?php echo @$_POST["password"]?>" autocomplete="off" />
				<?php echo @$error["password"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label for="repeatpw">Passwort wiederholen:</label>
				<input class="leeren sprite password" type="password" name="repeatpw" id="repeatpw" value="<?php echo @$_POST["repeatpw"]?>" autocomplete="off" />
				<?php echo @$error["repeatpw"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label for="mail">Name:</label>
				<input class="leeren sprite name" type="text" name="name" id="name" value="<?php echo @$_POST["name"]?>" />
				<small>* Bitte Vor- und Nachname eingeben!</small>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label></label>
				<img src="<?php echo $script_path;?>classes/conf/captcha.class.php" alt="Sicherheitsbild" />
			</fieldset>
			
			<fieldset class="clearfix space">
				<label for="sicherheitscode">Sicherheitsbild:</label>
				<input type="text" name="captcha" class="captcha validate[required] ml4" id="sicherheitscode" />
				<?php echo @$error["captcha"]?>
			</fieldset>
			
			<fieldset class="clearfix space">
				<label></label>
				<input type="submit" name="einloggen" value="Registrieren" />
				<input type="text" name="trap" class="trap" />
			</fieldset>
		</form>
	</div>
</div>