<?php

require '../min/conf.php';
require '../min/groupsSources.php';

require '../min/lib/Minify/Build.php';

$jsBuild = new Minify_Build($groupsSources['jquery']);
$cssBuild = new Minify_Build($groupsSources['maincss']);
?>
<!DOCTYPE HTML>
<html>
<head>
	<title><?php echo $seitentitel?> | Essenstool</title>

	<base id="basepath" href="<?php echo Config::SCRIPT_PATH; ?>" />

	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="author" content="Danny Curth - www.danny-curth.de" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />

    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/style.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/template.css'; ?>" />
    <link type="text/css" rel="stylesheet" href="<?php echo $script_path . 'themes/css/modules.css'; ?>" />

	<?php
		if( isset($debug) && $debug) {
			foreach($debug as $debugarr) {
				echo $debugarr;
			}
		}
	?>
</head>
<?php flush(); ?>
<body>
	<input type="hidden" id="base" value="<?php echo $script_path?>" />
	<?php  /*    Page-Box    */ ?>
	<div id="page">

		<?php  /*    Login-Box    */ ?>
		<?php include($loginbox); ?>
		<?php  /*    Ende-Login-Box    */ ?>
		<header>
			<h1>
				<a href="<?php echo func::writeAdminURL('modul=kalender')?>" title="zum Kalender">Essenstool - Administration</a>
			</h1>
		</header>

		<?php  /*    Main-Box    */ ?>
		<div id="content" class="clearfix">
       		<?php include($content); ?>
		</div>
		<?php  /*    Ende-Main-Box    */ ?>

	</div>
	<?php  /*    Ende-Page-Box    */ ?>
	<?php include("../views/modules/footincludes.phtml") ?>
</body>
</html>