<ul id="menu" class="clearfix">
	<li class="fll">
		<a href="<?php echo func::writeAdminURL("modul=kalender")?>" title="Kalender">Kalender</a>
	</li>
	<li class="fll">
		<a href="<?php echo func::writeAdminURL("modul=kalender,aktion=status")?>" title="Status KW">Status</a>
	</li>
	<li class="fll">
		<a href="<?php echo func::writeAdminURL("modul=bestellung")?>" title="Bestellungen">Bestellungen</a>
	</li>
	<li class="fll">
		<a href="<?php echo func::writeAdminURL("modul=user")?>" title="Benutzer">Benutzer</a>
	</li>
	
	<li class="flr relative">
		<a href="<?php echo func::writeURL('modul=kalender')?>" title="zum Frontend">zum Frontend</a>
	</li>
</ul>