<ul id="menu" class="clearfix">
	<li class="fll">
		<form action="<?php echo $login?>" method="post">
			<fieldset>	
				E-Mail-Adresse:
				<input class="leeren sprite kundenmail" type="text" name="mail" /><?php
				
				?>Passwort:
				<input class="leeren sprite kundenpassword" type="password" name="password" /><?php
				
				?><input type="submit" value="Einloggen" />  
			</fieldset>
		</form>
	</li>
	
	<li class="flr">
		<a href="<?php echo func::writeURL("modul=login,aktion=registrieren")?>" title="Registrieren">neu Registrieren</a>
	</li>
	<li class="flr">
		<a href="<?php echo func::writeURL("modul=login,aktion=vergessen")?>" title="Passwort vergessen">Passwort vergessen</a>
	</li>
</ul>