<h3>Warenkorb für KW <?php echo $kw?></h3>
<?php
	if( $data ) {
		$price = 0;
        
        if ( func::$unkostenpauschale == 1 ) {
            $addPrice = func::$unkostenbeitrag;
        } else {
            $addPrice = 0;
        }

		foreach($data as $var) {
		    
            if ($var['typ'] == 8) {
                $price = $var['price'];
            } else {
                $price = $var['price'] + $addPrice;
            }
            
			$priceAll = $priceAll+$price;
			
			echo '<ul class="clearfix">
				<li class="fll">'.date('d.m.Y',$var['date']).' - </li>
				<li class="fll" title="'.$var['name'].'">'.func::simpleTruncate($var['name'],20).'</li>
				<li class="flr">'.number_format($price,2).' &euro;</li>
			</ul>';	
		}
		if($status == 1) {
			$class = 'green';
			$title = 'bezahlt';
		} else {
			$class = 'red';
			$title = 'unbezahlt';
		}
		echo '
		<div class="borderDoubleTop"></div>
		<ul class="clearfix '.$class.'" title="'.$title.'">
			<li class="fll bold">Gesamtpreis:</li>
			<li class="flr flr bold">'.number_format($priceAll,2).' &euro;</li>
		</ul>';
		 
	} else {
		echo '<div class="error">dein Warenkorb ist leer</div>';
	}	
?>
</div>