<?php 
if( count($data["artikel"]) > 0 ) {
	$gesamt = 0;
	foreach($data["artikel"] as $arr) {							// Bestellungspositionen mit Foreach-Schleife durchlaufen
		if( $data["versandart"] == 1 ) {
			$bonus = 1; 
		} else {
			$bonus = 0; 
		}
	   		$gesamt = func::endpreis(func::priceDB($arr["id_inhalt"]),$bonus) * $arr["anz"];
	        $endpreis = number_format($gesamt,2);					// Gesamtpreis errechnen
	   		
	        if($arr["status"] == 5) {
	   			$status = "bestellt";
				$text = "";	
			} elseif( $arr["status"] == 6 ) {
				$status = "nicht mehr lieferbar";
				$text = "style='text-decoration:line-through;'";
			} else {
				$status = "unbearbeitet";	
				$text = "";	
			}
	        		
			$artikel .= "
						<tr>
							<td $text>".$arr["id_inhalt"]."</td>
							<td $text>".func::shopArticleLong($arr["id_inhalt"])."</td>
							<td>".$status."</td>
							<td align='center' $text>".$arr["anz"]."</td>
							<td align='right' $text>".func::endpreis(func::priceDB($arr["id_inhalt"]),$bonus)." &euro;</td>
							<td align='right' $text>".$endpreis." &euro;</td>
						</tr>";
	}
} else {
	$artikel = "";
}

if( count($data["inhalt"]) > 0 ) {
	foreach($data["inhalt"] as $arr) {	
		if($arr["status"] == 1) {
			$status = "vorhanden";
		} elseif($arr["status"] == 2) {
			$status = "derzeit vergeben";
		} elseif($arr["status"] == 3) {
		   	$status = "nicht mehr verfügbar";	
		} else {
			$status = "unbearbeitet";	
		}
	    $inhalt .= "
	    			<tr>
						<td>$arr[id_inhalt]</td>
						<td>".func::article($arr["id_inhalt"],200)."</td>
						<td>".$status."</td>
						<td>".$arr["datefrom"]."</td>
						<td>".$arr["dateto"]."</td>
					</tr>";										// Werte in neues Array speichern
	    if( $arr["kommentar"] != "" ) {
			$inhalt .= "
					<tr>
						<td colspan='5'>-&gt; ".$arr["kommentar"]."</td>
					</tr>";	
	    }
	}														// Ende
} else {
	$inhalt = "";
}
       
echo "<h2>Bestellung #".$id." / Kunde ".$data["benutzerid"]." / ".date("d.m.Y - H:i",$data["date"])." Uhr<hr /></h2>";
if( $inhalt != "" ) {
	echo "
		<table cellpadding='2' cellspacing='0' border='1' width='100%'>
			<tr>
				<th colspan='5'>Filme/Spiele</th>
			</tr>
			<tr>
				<th width='80'>Katalog-Nr</th>
				<th>Titel</th>
				<th>Status</th>
				<th>Bestellung von</th>
				<th>Bestellung bis</th>
			</tr>
			$inhalt
		</table>
		<br />";
}
if( $artikel != "" ) {
	echo "
		<table cellpadding='2' cellspacing='0' border='1' width='100%'>
			<tr>
				<th colspan='6' align='center'>Artikel</th>
			</tr>
			<tr>
				<th width='80'>Artikel-Nr</th>
				<th>Titel</th>
				<th>Status</th>
				<th width='40'>Anzahl</th>
				<th width='70'>Einzelpreis</th>
				<th width='80'>Gesamtpreis</th>
			</tr>
			$artikel
		</table>
		<br />";
}
?>
<strong>Versandart: </strong>
<span>
		<?php 
			if( $data["versandart"] == 1 ) {
				echo "Der Kunde wünscht eine bezahlung per Vorkasse (".func::$vorkasse." €). Er bekommt ".func::$bonus." % Rabatt auf seine Bestellung.";
			} elseif( $data["versandart"] == 2 ) {
				echo "Der Kunde wünscht eine bezahlung per Nachnahme (".func::$nachnahme." €)";
			} else {
				echo "Der Kunde wünscht die Lieferung in die Videothek (0.00 €).";
			}
		?>
</span>
