<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
	    <title><?php echo $seitentitel?></title>
	    <script type="text/javascript">
	    	window.print();
	    </script>
	</head>
	<body>
		<?php include($content); ?>
	</body>
</html>