<?php 
if( count($data["artikel"]) > 0 ) {
	$gesamt = 0;
	
	foreach($data["artikel"] as $arr) {							// Bestellungspositionen mit Foreach-Schleife durchlaufen
		if( $data["versandart"] == 1 ) {
			$bonus = 1; 
		} else {
			$bonus = 0; 
		}
			
		$gesamt += func::endpreis(func::priceDB($arr["id_inhalt"]),$bonus) * $arr["anz"];	
		$endpreis = number_format(func::endpreis(func::priceDB($arr["id_inhalt"]),$bonus) * $arr["anz"],2);
		        		
		$artikel .= "
					<tr>
						<td>".$arr["id_inhalt"]."</td>
						<td>".func::shopArticleLong($arr["id_inhalt"])."</td>
						<td align='center'>".$arr["anz"]."</td>
						<td align='right'>".func::endpreis(func::priceDB($arr["id_inhalt"]),$bonus)." &euro;</td>
						<td align='right'>".$endpreis." &euro;</td>
					</tr>";
	}
	
	// Rechnungen
	if( $data["versandart"] == 1 ) {
    	$versandkosten = func::$vorkasse;
    } elseif( $data["versandart"] == 2 ) {
    	$versandkosten = func::$nachnahme;
    } else {
    	$versandkosten = 0;
    }
    
    if( $bonus == 1 ) {
        $bonusAll = $gesamt * func::$bonus / 100;
	} else {
    	$bonusAll = 0;
    }
    $bonusAll = $gesamt - $bonusAll;
        	
    $alleszusammen = $bonusAll + $versandkosten;
    
} else {
	$artikel = "";
}
       
echo "
	<h2>Rechnung #".$id." / Kunde ".$data["benutzerid"]." / ".date("d.m.Y - H:i",$data["date"])." Uhr<hr /></h2>
	<table cellpadding='2' cellspacing='0' border='1' width='100%'>
		<tr>
			<th colspan='6' align='center'>Artikel</th>
		</tr>
		<tr>
			<th width='80'>Artikel-Nr</th>
			<th>Titel</th>
			<th width='40'>Anzahl</th>
			<th width='70'>Einzelpreis</th>
			<th width='80'>Gesamtpreis</th>
		</tr>
		$artikel
		<tr>
			<td colspan='4' align='right'>Zwischensumme:</td>
			<td align='right'>".number_format($gesamt,2)." &euro;</td>
		</tr>";
if( $data["versandart"] == 1 ) {
echo "
		<tr>
			<td colspan='4' align='right'>- ".func::$bonus." % Ermäßigung:</td>
			<td align='right'>".number_format($bonusAll,2)." &euro;</td>
		</tr>
		";
}
echo "		
		<tr>
			<td colspan='4' align='right'>Versandkosten:</td>
			<td align='right'>".number_format($versandkosten,2)." &euro;</td>
		</tr>
		<tr>
			<td colspan='4' align='right'><strong>Gesamt:</strong></td>
			<td align='right'><strong>".number_format($alleszusammen,2)." &euro;</strong></td>
		</tr>
	</table>
	<br />";
?>